<a href="https://colab.research.google.com/github/fedhere/FDSfE_FBianco/blob/main/HW2/movies_exploratory_instructions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HW 2 Assignment 1: 

This is a guided exploration of a movies database. Complete the notebook according to the instructions. When you are done remember to restart the notebook and rerun it to ensure the code has no bugs (this is this course version of enforcing "reproducibility").

Most of the tasks were performed together in class and you can find the video of the class on UDCapture https://capture.udel.edu/channel/Foundations%2Bof%2BData%2BScience%2Bfor%2BEveryone/271580562 (lecture 4)

In part two there are a few questions for you to answer about the database on your own. Remember that you are not only allowed but _encouraged_ to work in groups and to use the #HW2 channel on slack to ask and answer questions.

REMEMBER: 
- for each plot make a caption that states "what" and "why" and make sure the plots have appropriate axis labels. 
- for every "finding" make sure the result is clear, for example by clearly extracting it in a print statement or by writing a text cell below the code that shows the result
- save your notebook on Github in your FDSfE repository as HW2_movies_exploratory.ipynb

Import the Pandas module to read in and wrangle the data

- Part I: Guided data exploration and cleaning
- Part II: Finding interesting movies

# PART I : Guided data exploration and cleaning

In [1]:
import pandas as pd

Find the raw link to the data in my GItHub repository in the folder `data`. The file name has changed since the class - I put the proper "zip" ending.

In [13]:
movies = ...

Calculate the shape of the dataframe: use the partial cell of code below to print it out

In [ ]:
print("the movies dataframe has dimensions".format(movies.shape) )


Display the top 5 lines of the dataframe

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,earnings
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,12.451801
1,False,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,4.043035
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,NaN
3,False,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,5.090760
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,inf

Display the last five lines of the dataframe

In [5]:
...

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,earnings
45449,False,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,NaN
45450,False,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,NaN
45451,False,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,NaN
45452,False,NaN,0.0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,NaN
45453,False,NaN,0.0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,NaN

Complete the cell of code below: to save the name of the dataframe columns

In [6]:
columns = ...
columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'earnings'],
      dtype='object')

Use the `describe` method of the dataframe to get a statitical description of the numerical columns within it

In [ ]:
movies.describe()

Answer the following question: why is the "count" value different for some of the columns?

YOUR ANSWER HERE

Count the number of missing values per column Ithere is a couple of ways to do that, choose the one you prefer.

In [ ]:
....

How many missing values are in the `runtime` row?

YOUR ANSWER HERE

Import the missingno python package and use it to visualize missing data with the function `matrix()` available in the missingno package. Describe the figure in a caption below. When you write your caption think of the "what" and the "why" - "what": describe first what the figure shows (what is on the x axis, what is on the y axis, what the colors represent etc) then describe "why" the figure is interesting and worth showing to your reader

In [ ]:
import ....
# make the figure here

Figure 1: ...

Remove the columns of the dataframe that contain a large number of missing values and that are not numerical, such that they will not be needed to figure out which movie is the most popular

In [23]:
movies.drop(...

Inspect the dataframe and ensure that the columns you wanted to remove are gone (you can do that by remaking the plot above or printing the columns of the updated dataframe)

In [ ]:
...

Remove the _rows_ of the dataframe where the value of popularity is missing (use the `dropna()` method). Then check that they are gone

In [29]:
...

# PART II : Finding interesting movies

Find the most popular movie and use the print statement below to present your findings.

In [20]:
mostpop = movies
mostpop

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,earnings
30696,False,"{'id': 86066, 'name': 'Despicable Me Collectio...",74000000.0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",http://www.minionsmovie.com/,211672,tt2293640,en,Minions,"Minions Stuart, Kevin and Bob are recruited by...",...,1.156731e+09,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Before Gru, they had a history of bad bosses",Minions,False,6.4,4729.0,15.631499

In [25]:
print("The most popular movie in this dataset is {}".format(mostpop.original_title.values[0]))

The most popular movie in this dataset is Minions

Find the least popular movie (modify the last two cells of code apprioriately and print out the statement neatly with the print function as above)

Find the longest movie

Find the movies with the highest revenue

Find the movie with the highest _revenue per minute_. 

Hint: To do this first create a new column called `revenue_per_minute` by dividing the revenue by the runtime